.budget-feature {
    width: calc(100% - 252px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.budgetContainer {
    padding: 32px;
    background-color: #232323;
    height: fit-content;
    border-radius: 20px;
}

#lineItemForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.budget-description,
.budget-amount {
    background-color: #151618 !important;
    height: 40px;
    color: white;
    border: solid 0.5px #555;
    border-radius: 10px;
    padding: 0 16px;
}

.budget-ul {
    padding: 0;
    list-style: NONE;
}

.budget-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
