.budgetContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.budgetMain {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.budgetHeader {
    font-weight: 700;
    font-style: normal;
    color: #F3BA2F;
    text-align: left;
    margin: 0;
    margin-bottom: 32px;
}

