body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
}

.homeHeader {
    font-weight: 700;
    font-style: normal;
    color: #F3BA2F;
    text-align: left;
    margin: 0;
    margin-bottom: 32px;
}

.bankUsers-box  {
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 32px 32px 0 32px;
    margin-bottom:32px;
} 

.accountName {
    margin:0 !important;
}

.deleteAccountButton {
    color: #F3BA2F;
    cursor: pointer;
}

.accountName, .accountDetails {
    color: #FFFFFF; 
    text-align: left; 
    font-weight: 600;
    font-style: normal;
}

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accountName {
    font-size: 20px;
}

.accountDetails {
    margin-bottom: 0;
    padding-top: 5px;
}

.accounth3 {
    margin: 0px;
    font-size: 15px;
}

.accountTotalBalance {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    font-weight: 400;
    font-style: normal;
    padding-right: 32px;
    margin-top: 0px;
    height: 70px;
}

.accountTotalHeader{
    font-size: 15px;
}

.accountDisplayBalance {
    font-size: 20px;
    color: #F3BA2F;
    padding-left: 10px;
    font-weight: 600;
    font-style: normal;
}



/* page css */

.home-container {
    display: flex;
    height: 100vh;
  }
  
  .sidenav-container {
    width: 252px;
  }
  
  .page-content {
    width: calc(100% - 252px); 
    padding: 32px; 
  }
