body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F3BA2F;
    text-align: center;
}

.bankUsers-box  {
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
} 

h2, p {
    color: #FFFFFF; 
}

/* Transaction.css */

.home-container {
    display: flex;
    height: 100vh;
  }
  
  .sidenav-container {
    width: 252px;
  }
  
  .page-content {
    width: calc(100% - 252px); 
    padding: 20px; 
  }
