.create-content {
  width: calc(100% - 252px);
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
}

.user-create-content{
  display: flex;
  justify-content: center;
}

.createrHeader {
  font-weight: 700;
  font-style: normal;
  color: #F3BA2F;
  text-align: left;
  margin: 0;
}

.createButton {
  margin-top: 32px;
}

.createTitle {

}

.createForm {
  gap: 15px;
  width: 100%;
}

.create-form-field {
  display: flex;
  flex-direction: column;
}

.create-box  {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 480px;;
} 

.createLabels {
  text-align: left;
  margin-bottom: 8px;
  color: #ffffff; 
}

.createInput {
  border-radius: 10px;
  height: 30px; 
  padding: 10px; 
  background-color: #333333; 
  color: #ffffff;
  border: none;
}

.createInput[readonly] {
  background-color: #3a3a3a; 
}


.createButton:hover {
  background-color: #ffb300;
}

.userCreation-container {
    display: flex;
    height: 100vh;
}
  
.sidenav-container {
    width: 252px;
}
  
.page-content {
    width: calc(100% - 252px); 
    padding: 32px; 
}

/*  */
.userCreation-container {
    display: flex;
    height: 100vh;
  }
  
  .sidenav-container {
    width: 252px;
  }
  
  .page-content {
    width: calc(100% - 252px); 
    padding: 32px; 
  }

  @media (max-width: 768px) {
    .create-content {
        width: 100% !important;
    }
}