.sidenav {
  height: 100%;
  width: 252px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #232323;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  li {
    display: flex;
    align-items: center;
    height: 2.5rem;
    text-align: left;
    padding: 0 2rem;
  }

  li:hover {
    display: flex;
    align-items: center;
    height: 2.5rem;
    text-align: left;
    padding: 0 2rem;
    background-color: #575757;
  }
}

.sidenav-logo {
  width: 100%;
}

.sidenav-account {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidenav a {
  padding: 8px 0;
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 600;
  width: 100%;
}

@media (max-width: 768px) {
  /* Your styles go here */
  .sidenav, .sidenav-container {
    display: none;
  }

  .transaction-page-content {
    width: 100% !important;
  }
}
