@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&family=Yatra+One&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* .login-box {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
} */

.logo {
    width: 100px;
    margin-bottom: 1rem;
}

.loginGreeting {
    margin: 0;
    font-size: 40px;
    color: #ffc107;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.loginAction {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
}

.emailForm, .passwordForm {
    background-color: #151618;
    border: none;
    padding: 1rem;
    width: 405px;
    height: 25px; 
    margin-bottom: 1rem;
    border-radius: 5px;
    border-color: #555555;
    border-width: 0.5px;
    border-style: solid;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px; 
}

.forgot-password {
    color: #FFFFFF;
    opacity: 70%;
    text-decoration: none;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px; 
    font-size: 14px; 
}

button {
    background-color: #ffc107;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

button:hover {
    background-color: #e0a800;
}